<nav class="blue darken-4">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">What you must to DO!</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        {{#if isIndex}}
        <li class="active"><a href="/">Task list:</a></li>
        {{else}}
        <li><a href="/">Task list:</a></li>
        {{/if}}

        {{#if isCreate}}
        <li class="active"><a href="/create">Create a new task.</a></li>
        {{else}}
        <li><a href="/create">Create a new task.</a></li>
        {{/if}}
        
        
      </ul>
    </div>
  </nav>